
*{
    box-sizing: border-box;
}
.navbar{
    padding: 1rem 0 !important;
    
}
.navbar-collapse {
    justify-content: flex-end;
    text-transform: capitalize;
}
.navbar-nav {
    
    text-transform: uppercase;
}
.nav-link{
    color: #3D3D3D !important;
line-height: 36px;
letter-spacing: 0em;
text-align: left;
padding-right: 0 !important;

font-size: 15px;
    margin: 0 19px;
    text-transform: uppercase;
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;

}
.active{
    color: #f9af18 !important;
    border-bottom: 2px solid;
}


.nav-item{
    color: #032e42 !important;
}
.nav-item :hover{
    border-bottom: 2px solid #f9af18;
    text-decoration: none;
    transition: all .3s ease-out;
    max-width: 100%;
    color: #f9af18 !important;
    
}
.schedule_btn{
    margin-left: 50px;
    
}
button{
    border-radius: 1px;
    border: none;
    letter-spacing: 0.15em;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;    
    text-transform: uppercase;
    color: #FFFFFF;
    background: #f9af18;
    padding: 15px !important;
}
button:hover{
    background: rgb(235, 25, 25);
}
.col{
    flex: 0 0 auto;
    width: 25.333333% !important;
    margin: 40px;
}
.card{
    
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: 0.25rem;
        padding: 60px 40px;
        background: white !important;
        box-shadow: 3px 3px 15px 0px rgb(228 228 228);
   
}
.card:hover{
    box-shadow: 0px 0px 17px 3px rgb(188 188 188);
}
.card-title{
    line-height: 40px;
    margin-bottom: 25px;
    color: #3b5998;
    font-family: "Sen", Sans-serif;
    font-size: 22px;
    font-weight: bold;
}
.card-title:hover{
    color: #f9af18;
}
.card-img-top {
    max-width: 50%;
    margin-left: 64px;  
}
.card-body {
    flex: 1 1 auto;
    padding: 3rem 1rem !important;
    line-height: 30px;
    text-align: center;
}
.row {
    justify-content:center;
    position: absolute;
    top: 90%;
    left: 5%;
}
.card-test{
    text-align: center;
    color: #000000;
    font-family: "PT Sans", Sans-serif;
}
.bg-color{
    height: 350px;
    background: #f9af18;
    color: #ffffff;
    position: relative;
    border-radius: 0% 0% 35% 35%;
}
.relative-container{
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
}
.display-2 {
    font-size: calc(1.575rem + 3.9vw);  
    font-weight: 500 !important;
    line-height: 1.2;
    color: #FFFFFF;
    font-family: "Sen", Sans-serif;
    font-size: 65px;
    font-weight: bold !important;
    margin-bottom: 20px;
    /* border-bottom: solid; */
    margin-bottom: 75px;
    /* position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto; */
}


/* Media query */
@media screen and (max-width: 1200px){
    .navbar-nav {
        padding-right: 0;
    }
    .nav-link {
        font-size: 16px;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: left;
        padding-right: 2px !important;
    }
    .jumbotron >h1 {
        font-size: 120px;
        line-height: 115px;
        margin: 11px 0px;
    }

    .card_wrapper {
        position: absolute;
        top: 422px !important;
        padding: 0px 6%;
    }
    .body_content_heading {
        font-size: 120px;
        line-height: 115px;
        margin: 11px 0px;
        font-variant: all-small-caps;
    }
     .body_content_text {
        font-size: 24px;
        line-height: 150%;
    }
    .img-text {
        font-size: 36px !important;
    }
    .img-text-desc {
        font-size: 16px;
        line-height: 160%;
        margin: 15px 0px;
    }
    .items_list {
        font-size: 16px;
        line-height: 160%;
        display: table-footer-group;
    }
    .list-group {
        width: 100%;
        margin-bottom: 20px !important;
    }
    .Call_Wrapper {
        display: inline-flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .Content_planner_wrapper {
        margin: 12px 0px;
    }
    .img-2 {
        transform: rotate(20deg);
        width: 26%;
        height: 103%;
        left: 58%;
        top: -50%;
    }
    .container, .container-md, .container-sm {
        max-width: 900px !important;
    }
}
@media screen and (max-width: 980px){
    .jumbotron >h1 {
        font-size: 80px;
        line-height: 100px;
        margin: 10px 0px;
    }
    .body_content_heading{
        font-size: 80px;
        line-height: 100px;
        margin: 10px 0px;
    }
    .card_wrapper {
        position: absolute;
        top: 295px !important;
        padding: 0px 5%;
    }
  
    .body_content_text {
        font-size: 22px;
        line-height: 120%;
    }
    .img-text {
        font-size: 24px !important;
    }
    .img-text-desc {
        font-size: 14px;
        line-height: 140%;
        margin: 10px 0px;
    }
    .items_list {
        font-size: 14px;
        display: table-footer-group;
    }
    .items_list li {
        float: none;
        width: 100%;
        margin: 0 16px;
    }
    .Content_planner_wrapper .content_text {
        padding: 0px 0px;
        margin-left: 20px;
    }
    .schedule_btn {
        margin: 0px;
        padding: 12px 0;
    }
    .img-2 {
        width: 29%;
        height: 118%;
    }
    .img-1 {
        width: 700px;
        height: 1065px;
        left: -587px;
        top: -146px;
    }
    .container, .container-md, .container-sm {
        max-width: 850px !important;
    }
}
@media screen and (max-width: 768px){
    .jumbotron >h1 {
        font-size: 60px;
        line-height: 67px;
        margin: 0px 0px;
    }
    .body_content_heading {
        font-size: 60px;
        line-height: 67px;
        margin: 0px 0px;
    }
    .body_content {
        display: none;
    }
    .img-2 {
        display: none;
    }
    .navbar-nav {
        align-items: center;
    }
    

}
@media only screen and (max-width: 480px){
    .navbar-nav {
        align-items: center;
    }
    .jumbotron >h1{
        font-size: 70px;
        line-height: 79px;
        margin: 0px 0px;
    }
    .body_content_heading{
        font-size: 70px;
        line-height: 79px;
        margin: 0px 0px;
    }
    .jumbotron{
        text-align: center;
    }
    
    
}
